@page
@model HostIndexModel
<div class="container">
  <h1>Add your questions!</h1>
 <div class="row">&nbsp;</div>
  <form method="POST"> 
  <fieldset class="form-group">
  <legend>Select Two Play Icons:</legend>
    <div class="cc-selector-2">
        <input class="form-check-input" id="girl12" type="checkbox" value="girl1" />
        <label class="drinkcard-cc girl1" for="girl12"></label>
        <input class="form-check-input" id="girl22" type="checkbox" value="girl2" />
        <label class="drinkcard-cc girl2"for="girl22"></label>
        </br>
        <input class="form-check-input" id="boy12" type="checkbox" value="boy1" />
        <label class="drinkcard-cc boy1" for="boy12"></label>
        <input class="form-check-input" id="boy22" type="checkbox" value="boy2" />
        <label class="drinkcard-cc boy2"for="boy22"></label>
      </div>  
    </fieldset> 
    <fieldset class="form-group2">
        <input
          type="text"
          class="form-control"
          name="q1"
          placeholder="Question 1"
        />
        <input
          type="text"
          class="form-control"
          name="q2"
          placeholder="Question 2"
        />
        <input
          type="text"
          class="form-control"
          name="q3"
          placeholder="Question 3"
        />
        <input
          type="text"
          class="form-control"
          name="q4"
          placeholder="Question 4"
        />
        <input
          type="text"
          class="form-control"
          name="q5"
          placeholder="Question 5"
        />      
          </form>
         <button type="submit" class="btn btn-primary" id="create">Create Game</button>
   </fieldset> 
  </div> 

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Host/indexInterface.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/icons.css">

