@page
@model HostLobbyModel
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-9" id="title">
          <h1>Game is Ready!!!</h1>
        </div>
        <div class="col-md-3" id="couple">
        <h3 id="couple">Couples Joining:</h3>
          <ul id="joinedCouple" />
          <li>Couple One</li>
          <li>Couple Two</li>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10" id="lobbyInfo">
          <h4>Players please connect to the following address:</h4>
          <h1>https://crowdience.azurewebsites.net</h1>
        </div>
        <div class="col-md-2" id="buttonContainer">
          <form method="post">
            <button class="btn-primary" id="start">
              Start!
            </button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9" id="yoohoo">
          <img src="https://media1.tenor.com/images/6451d8d3acffa10840464d31009e2a5d/tenor.gif?itemid=4684572" />
        </div>
        <div class="col-md-3">
        <h3 id="users">Players Joining:</h3>
          <ul id="joinedUsers" />
          <li>Player One</li>
          <li>Player Two</li>
          <li>Player Three</li>
          <li>Player Four</li>
          <li>Player Five</li>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Host/lobbyInterface.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/hostLobby.css">