@page
@model HostLobbyModel
<div>
    <div id="lobbyInfo">
    <h1>@ViewData["LobbyTitle"]:</h1>
    <h4>Please Connect to the following address on your mobile device:</h4>
    <h4>https://localhost:5001/Player/Lobby</h4>
    <p>When Ready, click Start:</p>
    <form method="post">
    <button id="start">Start!</button>
    </form>
    </div>
    <div id="couple">Couple joined:
    <ul id="joinedCouple"></ul>
    </div>
    <div id="users">Players that joined:
    <ul id="joinedUsers"></ul>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Host/lobbyInterface.js"></script>