@page
@model PlayerLobbyModel
<div id="lobby">
    <h1 id="lobbyHeader">Welcome to Crowdience</h1>
    <h2>Player Login!</h2>
    Please Enter a Username: </br>
    <input type="text" id="username"> </br>
    <input type="button" id="joinGame" value="Join Game!" class = "btn btn-success">
  </div>

<div id="waitingRoom" style="display:none;">
  <h1>Thanks for Joining!</h1>
    <h3>Please be patient the game will begin soon!</h3>
 <div id="spongebob">
<iframe src="https://giphy.com/embed/brHaCdJqCXijm" width="480" height="348" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/happy-spongebob-squarepants-happiness-brHaCdJqCXijm"></a></p>
      </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Player/lobbyInterface.js"></script>
