body{
    /* background-image:url(calm.jpg);
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
      background-color: #252525;
      color: white;
}

#gameOver {
    font-size: 1000%;
    padding: 10px;
    color: white;
}

#gameOver, #stat, #question {
    text-align: center;
    color: white;
}

  
#question {
    font-weight: bold;
}

#audience, #couple {
    font-style: italic;
    color: white;
}
  
  #hutntai {
    font-size: 30px;
}

#q1a1, #q2a1, #q3a1, #q4a1, #q5a1,
#q1a2, #q2a2, #q3a2, #q4a2, #q5a2 {
  font-size: 75%;
  padding: 10px;
  border-radius: 25%;
}

#q1a1, #q2a1, #q3a1, #q4a1, #q5a1 {
  border: 3px solid #1a4791;
  background-color: #3e95cd;
}

#q1a2, #q2a2, #q3a2, #q4a2, #q5a2 {
  border: zr3px solid #400b4c;
  background-color: #8e5ea2;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
}

#q1a1Icon, #q1a2Icon,
#q2a1Icon, #q2a2Icon,
#q3a1Icon, #q3a2Icon,
#q4a1Icon, #q4a2Icon,
#q5a1Icon, #q5a2Icon {
    margin: 0px;
}

.resultOne, .resultTwo, .resultThree, .resultFour, .resultFive, .thanks {
    padding: 25px;
}

.resultOne {
    border: 5px solid gold;
}
.resultTwo {
    border: 5px solid blue;
}
.resultThree {
    border: 5px solid red;
}
.resultFour {
    border: 5px solid purple;
}
.resultFive {
    border: 5px solid orange;
}

.thanks {
    border: 5px solid green;
}

iframe {
    width: 100%;
    pointer-events: none;
    margin: 0px;
}

#newGame {
    font-size: 200%;
    margin-top: 30px;
    width: 100%;
}

#gameOver {
    text-align: center;
}

#thanksforplaying {
    text-decoration: underline;
    text-align: center;
    color: white;
}

#appalause {
    min-width: 100%;
    height: 45vh;
    overflow: hidden;
}

#newGame {
    margin: 0px;
}