body{
  background-image:url(http://static.simpledesktops.com/uploads/desktops/2011/04/20/wallpaper_turtle_tomreinert.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff1dd;
}