body{
    background-image:url(https://cdn.shopify.com/s/files/1/0662/8383/products/grimms-12-friends-pastel-new-2018-_1187_1360x1360.jpg?v=1521058533);

  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff1dd;
}