@import url("https://fonts.googleapis.com/css?family=Bangers|Carter+One|Dancing+Script|Indie+Flower|Over+the+Rainbow");

body {
  font-family: "indie";
  color: #3d1b08;
  background-color: #e7e1c3;
}

#questionTitle {
  font-size: 350%;
  text-align: center;
  margin: 20px;
}

#answerOne,
#answerTwo {
  text-align: right;
  font-size: 150%;
}

#answerOneCounter,
#answerTwoCounter, 
#answerOneFinalCounter,
#answerTwoFinalCounter {
  font-size: 250%;
  padding: 15px;
  border-radius: 25%;
}

#answerOneCounter, #answerOneFinalCounter {
  border: 3px solid #1a4791;
  background-color: #3e95cd;
}

#answerTwoCounter, #answerTwoFinalCounter {
  border: 3px solid #400b4c;
  background-color: #8e5ea2;
}

#messagesList {
  max-height: 85vh;
  overflow: hidden;
}

#buttonDiv {
  text-align: center;
  font-size: 150%;
}

#bandg, #groom, #bride, #groomVote, #brideVote, #rightorwrong, #voteContainer {
  text-align: center;
}

#bandg {
  font-size: 200%;
  margin-top: 10px;
}

#groom, #bride {
  font-size: 150%;
  text-decoration: underline;
}

#groomVote, #brideVote {
  font-size: 150%;
  margin: 20px;
}

#rightorwrong {
  font-size: 300%;
}

#spongebob {
  width: 100%;
  text-align: center;
  pointer-events: none;
}

#waitingRoom, #lobby {
  margin: 25px;
  text-align: center;
}

#joinGame {
  margin: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #ff7d00;
  border-color: #171504;
}

