/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.startButton {
  width: 280px;
  height: 250px;
  font-size: 26pt;
  border-radius: 50%;
  background-repeat: no-repeat;
  color: black;
}

.startButton:hover {
  opacity: .3;
}

#startAsHost {
  background-image: url(https://media1.tenor.com/images/72507f7b18cfd64572bf04dd059728aa/tenor.gif?itemid=5875295);
  max-height: 90%;
  color: white;
}

#startAsCouple {
  background-image: url(https://media.tenor.com/images/003d160afe8049df1d4e6c62f2102c35/tenor.gif);
  max-height: 90%;
  background-color: white;
  color: black;
}

#startAsPlayer {
  background-image: url(https://media1.tenor.com/images/5fcc00b13f626d6e8ada8f614f8ddf3f/tenor.gif?itemid=9247114);
  max-height: 90%;
  background-color: black;
  color: #ff9e5b;
}

#startBdiv {
  text-align: center;
}
