/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.startButton {
  width: 280px;
  height: 250px;
  opacity: .3;
  transition: opacity .5s ease-out;
  font-size: 26pt;
}

.startButton:hover {
  opacity: 1;
}

#startAsHost {
  color: blue;
  background-image: url(https://i-h1.pinimg.com/474x/43/d2/02/43d20228400b494725a7600b80485e64--bruce-forsyth-family-relations.jpg);
  max-height: 90%;
}

#startAsCouple {
  color: blue;
  background-image: url(https://media1.tenor.com/images/767841d169040e265b6752339d7b46cb/tenor.gif?itemid=10321179);
  max-height: 90%;
}

#startAsPlayer {
  color: blue;
  background-image: url(https://media.giphy.com/media/8At7p8DapJo40/giphy.gif);
  max-height: 90%;
}


