@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{ var welcome = "Welcome to Crowdience";}
<div class="text-center">
    <h1 class="display-4">@welcome</h1>
    <h2 class="display-5">
        Would you like to join as:
    </h2>
</div>
   
<div class="startButtondiv" media="(max-width: 300px)">
    <input type="button" class="startButton" id="startAsHost" value="Begin as Host"/>
    <input type="button"class="startButton" id="startAsCouple" value="Part of a couple" />
    <input type="button" class="startButton" id="startAsPlayer" value="Start as a player" />
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/indexInterface.js"></script>
