@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{ var welcome = "Welcome to Crowdience";}
<div class="text-center">
    <h1 class="display-4">@welcome</h1>
    <h2 class="display-5">
        How would you like to begin:
    </h2>
</div>
<div id="startBdiv" media="(max-width: 900px)" >
    <input type="button" class="startButton" id="startAsHost" value="Start As Host" />
    <input type="button" class="startButton" id="startAsCouple" value="Start As Couple" />
    <input type="button" class="startButton" id="startAsPlayer" value="Start As Player" />
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/indexInterface.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/indexPage.css">

