@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{ var welcome = "Welcome Message";}
<div class="text-center">
    <h1 class="display-4">@welcome</h1>
    <h2 class="display-5">
        Please enter your unique id for the game session:
    </h2>
    <input type="text" id="uid" />
    <input type="button" id="startGame" value="Play crowdience!" />
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/indexInterface.js"></script>
