@page
<div id="gameOver">
<iframe src="https://giphy.com/embed/dkuZHIQsslFfy" width="240" height="192" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<h2 id="gameOverPageThanks">Thanks For Playing!</h2>
<h3 id="gameOverPageMessageOne">Look at the main screen to view results!</h3>
<h3 id="gameOverPageMessageTwo">The host will start a new game in a moment, if you wish to leave please do so now!</h3>

<link rel="stylesheet" type="text/css" href="~/css/GameOver.css">