@page
<h1 id="questionTitle"></h1>
<form>
    <p>Please select your answer:</p>
    <div id="voteContainer" class="cc-selector-2">
      <p id="answerOne"></p>
      <p id="answerTwo"></p>
        <!-- <input id="answerOne2" type="radio" name="creditcard" value="He Did" />
        <label class="drinkcard-cc answerOne" for="answerOne2"></label>
        <input  checked="checked" id="answerTwo2" type="radio" name="creditcard" value="She Did" />
        <label class="drinkcard-cc answerTwo"for="answerTwo2"></label> -->
        <input type="button" id="vote" value="Vote Now" />
    </div>  
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Couple/voteInterface.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/icons.css" -->



  <div id=`$` class="cc-selector" >
 