@page
@model CoupleVoteModel
<h1 id="questionTitle"></h1>
<form method="post">
    <p>Please select your answer:</p>
    <div id="voteContainer" class="cc-selector-2">
      
      <p id="answerOne"></p>
      <p id="answerTwo"></p>
    </div>  
    <button type="submit" id="vote">Vote Now!</button>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Couple/voteInterface.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/icons.css">
