@page
@model CoupleVoteModel
<h1 id="questionTitle"></h1>
<form method="post">
    <p id="message">Waiting for next question to load!</p>
    <div id="voteContainer" class="cc-selector-2">
      <input type="hidden" id="username" name="username" />
      <p id="answerOne"></p>
      <p id="answerTwo"></p>
    <p id="button"></p>
    </div>  
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Couple/voteInterface.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/icons.css">
